@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body {
    font-family: 'Lato', sans-serif;
}

.btn:active,
.btn.active {
    background-image: none;
    box-shadow: none !important;
    outline: 0 none;
}

*:focus {
    outline: none !important;
    text-decoration: none !important;
}

a {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

a:hover {
    transition: all .3s ease-in-out;
    text-decoration: none;
}

ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
}

img {
    max-width: 100%;
}

header .left-div {
    float: left;
    margin-top: 10px;
}

header .left-div p {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    font-style: italic
}

header .left-div p:last-child {
    margin-bottom: 0px;
}

header .ryt-div {
    float: right;
    margin-top: 10px;
}

header .ryt-div ul li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    padding-left: 25px;
    position: relative;
    text-align: right;
}

header .ryt-div ul li a {
    font-size: 26px;
    color: #000;
    font-weight: 700;
}

header .ryt-div ul li a:hover {
    color: #679A50;
    text-decoration: none;
}

header .ryt-div ul li span {
    left: 0;
    position: absolute;
    top: 8px;
}

header .ryt-div ul li:first-child span{
        top: 9px;
    
}

header .ryt-div ul li span .fa {
    font-size: 22px;
    color: #000;
    margin-right: 15px;
}

header .ryt-div ul li:first-child span .fa{
    font-size: 19px;
}

header .main-nav {
    border-top: 1px solid #dddedd;
    float: left;
    margin-top: 15px;
    padding: 5px 0 0;
    width: 100%;
}

.caret {
    color: #599140;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed;
}

header .navbar-right .dropdown-menu {
    background-color: #f9f9f9;
    right: auto;
    min-width: 310px;
    padding: 0;
       left: 0px;
    border: none;
    border-radius: 0px;
    display: block;
    opacity: 0;
    top: 46px;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header .navbar-right .dropdown-menu > li > a {
    border-bottom: 1px solid #eee;
    clear: both;
    color: #333;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 20px;
    white-space: nowrap;
}

header .navbar-right .dropdown-menu > li > a:hover {
    background-color: #599140;
    color: #fff
}

header .navbar-right .dropdown-menu > li > a.active {
    background-color: #599140;
    color: #fff
}


header .navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

header .navbar-brand {
    height: auto;
    padding: 0;
}

header .navbar-default .navbar-nav > li {
    padding: 0 20px;
}

header .navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 21px;
    font-weight: 400;
    padding: 0px;
    padding-bottom: 26px;
    text-transform: uppercase;
}

header .navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    z-index: 99;
}

header .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #599140;
}

header .navbar-default .navbar-nav > li > a.active {
    color: #599140;
}

header .navbar-default .navbar-nav > li:last-child {
    padding-right: 0px;
}

header .navbar-nav {
    float: right;
    margin-right: 0;
    margin-top: 15px;
}

header .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #599140;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #599140;
    background-color: transparent;
}

header .navbar-right  .dropdown-menu>.active>a, header .navbar-right  .dropdown-menu>.active>a:focus, header .navbar-right  .dropdown-menu>.active>a:hover{
    color: #fff;
    background-color: #599140;
}


header .navbar-collapse {
    padding: 0px;
}

.banner {
    background-size: cover;
    height: 607px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.banner .container {
    position: relative;
    height: 100%;
}

.bnner-inner {
    height: 100%;
    position: relative;
    width: 100%;
}

.banner-text {
    background: rgba(205, 205, 205, 0.9) none repeat scroll 0 0;
    bottom: 0;
    padding: 20px 30px;
    position: absolute;
    right: 60px;
    width: 411px;
}

.banner-text strong {
    color: #282828;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}

.designing-sec {
    padding: 70px 0px;
    background-color: #f9f9f9;
    position: relative
}

.designing-sec .lftdiv p {
    color: #000;
    font-size: 28px;
    font-weight: 300;
    line-height: 37px;
    padding-right: 53px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.designing-sec .lftdiv p a {
    font-size: 28px;
    color: #599032;
    font-weight: 700;
}

.designing-sec .lftdiv p a:hover {
    color: #000;
    text-decoration: none;
}

.designing-sec .lftdiv h1 {
    color: #000;
    font-size: 49px;
    font-weight: 500;
    line-height: 62px;
    margin-bottom: 25px;
    margin-top: -14px;
       
    text-transform: uppercase;
}

.designing-sec .lftdiv strong {
    color: #599032
}

.theme-sec {
    float: left;
    margin-right: 30px;
    width: 47.8%;
}

.img-div > a {
    height: 100%;
    width: 100%;
    float: left;
    position: relative
}

.img-div > a:hover .hover-div {
    display: block;
}

.theme-text {
    display: block;
    float: left;
    width: 100%;
    background: #fff;
    padding: 0 18px 18px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.06);
}

.theme-text p {
    font-size: 25px;
    color: #000;
    font-weight: 300;
    line-height: 30px;
}

.theme-text h4 {
    color: #000;
    float: left;
    font-size: 26px;
    font-weight: 500;
    margin-top: 25px;
    width: 100%;
}

.theme-text a {
    color: #599032;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    float: left;
}

.theme-text a:hover {
    color: #4c4c4c;
}

.theme-text .fa {
    margin-left: 6px;
}

.theme-sec:nth-child(2n) {
    margin-right: 0px;
}

.gallery {
    background-color: #f9f9f9;
    padding: 75px 0px;
}

.galery-sec a {
    float: left;
    width: 100%;
    height: 319px;
    position: relative;
    color: #fff;
}

.galery-sec {
    margin-bottom: 30px;
}

.galery-sec figure {
    display: block;
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hover-div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    background: rgba(89, 144, 50, 0.30);
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.border-dv {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 20px;
    border: 1px dashed #599032;
}

.border-dv p {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.theme-sec:hover .hover-div,
.galery-sec:hover .hover-div {
    opacity: 1;
}

.theme-sec:hover .hover-div .border-dv p,
.galery-sec:hover .hover-div .border-dv p {
    opacity: 1;

}

.main-heading h1 {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    padding: 0px 15px;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase
}

.main-heading h1::after {
    background-color: #599032;
    content: "";
    display: block;
    height: 2px;
    margin: 18px auto auto;
    text-align: center;
    width: 61px;
}

.main-heading > p {
    color: #010000;
    font-size: 28px;
    font-weight: 300;
    padding: 0 15px;
    text-align: center;
    line-height: 32px;
}

.three-d-design {
    padding: 75px 0px;
}

.three-d-design p {
    color: #000;
    font-size: 28px;
    font-weight: 300;
    line-height: 37px;
    padding-right: 89px;
}

.three-d-design h3 {
    color: #000;
    font-size: 38px;
    font-weight: 700;
    line-height: 37px;
    margin-top: 0px;
    margin-bottom: 25px
}

.video-div {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 362px;
    display: table;
    text-align: center;
}

.video-div .out-part {
    background: rgba(0, 0, 0, .61);
    display: table-cell;
    vertical-align: middle;
}

.video-div span {
    background-color: #599032;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.video-div span .fa {
    color: #fff;
    font-size: 22px;
    padding-left: 8px;
    padding-top: 11px;
}

.video-div span:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.vid-outer a.see-videos {
    background: #599032 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 30px;
    min-width: 158px;
    padding: 0 16px;
    text-transform: uppercase;
    border-radius: 4px;
}

.vid-outer a.see-videos .fa {
    margin-left: 25px;
}

.vid-outer a.see-videos:hover {
    background: #4c4c4c;
    text-decoration: none;
}

.services {
    padding: 65px 0px;
}

.service-sec {
    background-color: #f8f8f8;
    padding: 60px 15px;
    text-align: center;
    min-height: 496px;
}

.service-sec h4 {
    font-size: 24px;
    color: #599032;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
}

.service-sec h4 a {
    color: #599032;
}

.service-sec h4 a:hover {
    color: #4c4c4c;
}

.service-sec p {
    font-size: 24px;
    color: #000;
    font-weight: 300;
    line-height: 28px;
    text-align: center
}

.service-sec p:last-child {
    margin-bottom: 0px;
}

.service-sec span {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #60953b;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.service-sec svg {
    height: 70px;
    padding-top: 0;
    width: 70px;
    margin-top: 22px;
    fill: #6C6C6C
}

.service-sec:hover span {
    background-color: #599032;
    transition: all .3s ease-in-out;
}

.service-sec:hover svg {
    fill: #fff;
    transition: all .3s ease-in-out;
}

.main-btn a {
    background: #599032 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 30px;
    min-width: 158px;
    padding: 0 27px;
    text-transform: uppercase;
}

.main-btn a:hover {
    text-decoration: none;
    background: #4c4c4c;
}

.slidr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px 0px;
}

.slidr .main-heading {
    padding-bottom: 30px;
}

.slidr .main-heading h1 {
    margin-bottom: 25px;
}

.outer .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 307px;
    position: relative;
}

.outer .item a{
        position: relative;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.outer .item a:hover{
    background: rgba(255,255,255,0.2);
}

.outer .item img {
    position: relative
}

.outer .item strong {
    width: 70px;
    height: 60px;
    background-color: #599032;
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 22px;
    font-weight: 700;
    color: #f7f7f7;
    text-align: center;
    padding-top: 4px;
}

.outer .item span {
    font-size: 13px;
    font-weight: 300;
    color: #f7f7f7;
    display: block;
    text-transform: uppercase
}

.outer .text-div {
    border: 1px solid #eee;
}

.outer .text-div h4 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #010000;
}

.outer .text-div h4 a {
    color: #010000;
}

.outer .text-div h4 a:hover {
    color: #599032
}

.outer .text-div p {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: justify;
    color: #000;
    padding: 15px;
}

.outer .text-div figure {
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

.head-outer {
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.slidr .outer .text-div .fa {
    font-size: 19px;
    color: #444444;
    margin-right: 10px;
}

.slidr .owl-prev, .slidr .owl-next {
    left: -60px;
    position: absolute;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slidr .owl-next {
    left: auto;
    right: -60px;
    
}

.slidr .owl-nav {
    display: block !important;
}

.slidr .owl-next > img {
    padding: 10px 10px;
    opacity: 0.6;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.slidr .owl-prev > img {
    padding: 10px 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.6;
}

.slidr .owl-prev > img:hover,
.slidr .owl-next > img:hover {
    opacity: 1;
}

footer {
    background: #232323;
    padding: 60px 0px;
}

footer h3 {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

footer h3::after {
    background-color: #599032;
    content: "";
    display: block;
    height: 2px;
    margin-bottom: 25px;
    margin-top: 18px;
    width: 45px;
}

.logo-text img {}

.logo-text p {
        font-size: 24px;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    padding-right: 35px;
    margin-top: 15px;
}

.logo-text {
    margin-top: 13px;
}

.gtintouch ul li {
    list-style-type: none;
    position: relative;
    font-size: 24px;
    color: rgba(254, 254, 254, 0.8);
    font-weight: 300;
    line-height:1.6;
    margin-bottom: 28px;
    padding-left: 36px;
}

.gtintouch ul li a {
    color: rgba(254, 254, 254, 0.8);
}

.gtintouch ul li a:hover {
    color: #fff
}

.gtintouch ul li span {
    left: 0;
    position: absolute;
    top: -3px;
}

.btm-links {
    float: left;
    padding: 0 35px;
    width: 300px;
}

.btm-links.left0 {
    padding-left: 0px;
}

.gtintouch ul li .fa {
    color: #dcdcdc;
    font-size: 21px;
}

.btm-links ul li {
    position: relative;
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 6px;
}

.btm-links ul li a {
    font-size: 24px;
    color: rgba(254, 254, 254, 0.8);
    font-weight: 300;
    padding-left: 10px
}

.btm-links ul li a:hover {
    color: #fff;
}

.btm-links ul li::before {
    color: #dcdcdc;
    content: "\f105";
    font-family: FontAwesome;
    font-size: 18px;
    left: 0px;
    position: absolute;
    top: 7px;
    line-height: 0.8em;
}

.btm-img {
    margin-top: 62px;
    float: left;
}

.btm-text1 p {
        color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin-top: -2px;
    padding-left: 20px;
    margin-bottom: 0;
}

.btm-text1 strong {
    color: #4b762e;
}

.btm-text1 strong a {
    color: #4b762e;
}

.btm-text1 strong a:hover {
    color: #fff;
}

.small-ftr {
    background: #191919;
    padding: 15px;
}

.small-ftr p {
    font-size: 20px;
    color: #afafaf;
    font-weight: 400;
}

.small-ftr p:last-child {
    margin-bottom: 0px;
}

.small-ftr strong {
    font-weight: 400;
    float: right;
}

.small-ftr a {
    color: #2ba2cc
}

.small-ftr a:hover {
    color: #fff;
}

.slidr .main-btn {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.slidr .main-btn a {
    display: inline-block;
    float: none;
}

.social-icons {
    position: absolute;
    left: 30px;
    width: 55px;
}

.social-icons.social-icons-btm {
    position: static;
        width: 33.33%;
}

.social-icons ul li {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 55px;
    vertical-align: top;
}

.social-icons.social-icons-btm ul li {
    width: 55px;
    margin-bottom: 0;
    margin-right: 11px;
}

.social-icons ul li a {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    list-style-type: none;
    text-align: center;
    line-height: 60px;
    color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
    -webkit-transform:  scale(1);
    transform: scale(1);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}




.social-icons ul li:nth-child(1) a {
    background-color: #38559b;
    border-color: #38559b;
}

.social-icons ul li:nth-child(2) a  {
    background-color: #00aaf2;
    border-color: #00aaf2;
}

.social-icons ul li:nth-child(3) a{
    background-color: #cf1814;
    border-color:#cf1814;
}

.social-icons ul li:nth-child(4) a {
    background-color: #e4492a;
    border-color:#e4492a;
}

.social-icons ul li:nth-child(5) a{
    background-color: #c71d20;
    border-color:#c71d20;
}

.social-icons ul li a .fa {
    color: #fff;
    font-size: 25px;
}

.social-icons.social-icons-btm ul li a{
    background: transparent;
    border:solid 1px #fff;
    color: #fff;
}


.social-icons ul li a:hover, .social-icons.social-icons-btm ul li a:hover {
    -webkit-transform:  scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}



.social-icons.social-icons-btm ul li:nth-child(1) a:hover {
    background-color: #38559b;
    border-color: #38559b;
}

.social-icons.social-icons-btm ul li:nth-child(2) a:hover  {
    background-color: #00aaf2;
    border-color: #00aaf2;
}

.social-icons.social-icons-btm ul li:nth-child(3) a:hover{
    background-color: #cf1814;
    border-color:#cf1814;
}

.social-icons.social-icons-btm ul li:nth-child(4) a:hover {
    background-color: #e4492a;
    border-color:#e4492a;
}

.social-icons.social-icons-btm ul li:nth-child(5) a:hover{
    background-color: #c71d20;
    border-color:#c71d20;
}




/*
.social-icons.social-icons-btm ul li a:hover{
    -webkit-transform:  scale(1);
    transform: scale(1);
}
*/





/*************************** CSS By Dhiman **************************/

.banner.inner-banner{
    height: 420px;
}

[data-section] {
    padding: 110px 0;
}

[data-section] h1{
    margin-top: 0;
}

/** Contact Page **/

.contact-page {
    position: relative;
}

.contact-page .main-heading {
    text-align: left;
}

.contact-page .main-heading h1 {
    padding: 0;
    text-align: left;
}

.contact-page .main-heading h1::after {
    margin-left: 0;
}

.contact-form {
    margin-bottom: 50px;
}

.contact-form .form-group {
    width: 100%;
    margin-bottom: 22px;
}

.contact-form .form-group .form-control {
    width: 100%;
    height: 52px;
    border-radius: 2px;
    box-shadow: none;
    border: solid 1px #d0d0d0;
    font-weight: 400;
    font-size: 22px;
    color: #010101;
    padding: 4px 15px 5px;
}

.contact-form .form-group textarea.form-control {
    height: 200px;
    resize: none;
}

.contact-form .form-group .form-control::-webkit-input-placeholder {
    color: #ccc;
}

.contact-form .form-group .form-control::-moz-placeholder {
    color: #ccc;
}

.contact-form .form-group .form-control:-ms-input-placeholder {
    color: #ccc;
}

.contact-form .form-group .form-control:-moz-placeholder {
    color: #ccc;
}

.contact-btn {
    background: #599032;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 10px;
    min-width: 158px;
    padding: 0 27px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-btn:hover {
    background: #4c4c4c;
}

.contact-information{
    padding-left: 8%;
    margin-bottom: 50px;
}

.contact-page .contact-information .main-heading h1{
    margin-bottom: 27px;
}

.contact-information p{
    font-size: 30px;
    color: #000;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.contact-information ul{
    margin: 0;
    padding: 0;
}

.contact-information ul li{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 37px;
    font-size: 30px;
    color: #000;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.contact-information ul li a{
    color: #000;
}

.contact-information ul li a:hover, .contact-information ul li a:focus{
    color: #599032;
}

.contact-information ul li i{
    position: absolute;
    top: 9px;
    left: 0;
    color: #599140;
    font-size: 24px;
}

.contact-information ul li:first-child i{
        font-size: 37px;
}

.contact-information ul li:nth-child(2) i{
        font-size: 29px;
}

.contact-map{
    width: 100%;
    height: 490px;
    position: relative;
}

.contact-map iframe{
    position: relative;
    height: 100%;
    width: 100%;
}


/** Contact Page End **/

/** 3D Design Page **/

.design-page{
    padding: 0;
    position: relative;
}

.design-page>.social-icons{
    top: 110px;
}

.design-page h3{
    font-size: 38px;
    color:#252525;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 30px;
        position: relative;
    top: -6px;
}


.design-page h3 big{
    font-size: 38px;
    color: #599140;
}

.design-page .padding-right{
    padding-right: 6%;
}

.design-page .padding-left{
    padding-left: 6%;
}

.design-page .full-width-area{
    background:#fbfbfb;
    padding: 110px 0;
}

.design-page  .full-width-white{
    background:#fff;
    padding: 110px 0;
}


.full-width-white .col-md-7, .full-width-white .col-md-5, .full-width-area .col-md-7, .full-width-area .col-md-5{
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    float: none;
}


.design-page p{
    color: #000;
    font-size: 28px;
    font-weight: 300;
   line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.design-page p:last-of-type{
    margin-bottom: 0;
}

.design-page p a{
    color: #599140;
   -webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.design-page p a:hover{
    color: #599140;
    text-decoration: underline !important;
}

.design-page ul.custom-list{
    margin: 0;
    padding: 0;
}

.design-page ul.custom-list li{
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 24px;
    font-weight: 400;
   line-height: 1.5;
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
}

.design-page ul.custom-list li:last-child{
    margin-bottom: 0;
}

.design-page ul.custom-list li:before{
    content: "\f144";
    position: absolute;
        font: normal normal normal 22px/1 FontAwesome;
    color:#599140;
    top: 7px;
    left: 0;
}

.design-img-group{
    margin-top: 60px;
    display: block;
}

.design-img-group + *{
    margin-top: 40px;
}

.design-page figure{
    position: relative;
}

.design-page figure img{
    width: 100%;
}

.design-page figure figcaption{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40%;
    text-align: left;
    z-index: 5;
    font-size: 17px;
    color: #fff;
    font-style: italic;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

.design-page .full-size-img{
    margin: 80px 0;
}

.design-page .ml35{
    margin-left: 35px;
    margin-bottom: 20px;
}

.design-page .mr35{
    margin-right: 35px;
    margin-bottom: 20px;
}

.gap{
    display: block;
    height: 80px;
}

.testimonials-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0px;
}

.testimonials-cover .main-heading p{
    color: #000;
    font-size: 28px;
    font-weight: 300;
   line-height: 1.5;
    margin-bottom: 20px;
}

.testimonials-cover .item{
    padding: 30px 10px;
}

.testimonials-cover .item .item-inner{
    position: relative;
    padding: 30px 25px;
    background: #fff;
    box-shadow:0px 0px 16px rgba(179,179,179,0.70);
    padding-left: 63px;
    border-radius: 6px;
}

.testimonials-cover .item .item-inner:before{
        content: "\f10d";
    font: normal normal normal 28px/1 FontAwesome;
    position: absolute;
    top: 39px;
    left: 25px;
    color: #599140;
    
}



.testimonials-cover .item .item-inner p{
    color: #000;
    font-size: 28px;
    font-weight: 300;
   line-height: 1.5;
    margin-bottom: 20px;
    font-style: italic;
}

.testimonials-cover .item .item-inner h5{
    color: #000;
    font-size: 24px;
    font-weight: 600;
   line-height: 1.5;
    margin-bottom: 20px;
}

.testimonials-cover .item .item-inner h5 small{
    display: block;
    color: #000;
    font-size: 20px;
    font-weight:300;
    margin-bottom: 20px;
}

.testimonials-cover .owl-prev, .testimonials-cover .owl-next{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.testimonials-cover .owl-prev{
    left: -70px;
}

.testimonials-cover .owl-next{
    right: -70px;
}

.testimonials-cover .owl-prev:hover, .testimonials-cover .owl-next:hover{
    opacity: 1;
}


/** 3D Design Page End **/


/** Blog Page **/

.blog-post-cover{
    display: block;
   
}

.blog-post-cover article{
     width: 100%;
    margin-bottom: 60px;
    border: solid 1px #e9eaec;
    border-radius: 4px;
    position: relative;
}

.blog-post-cover article:last-child{
    margin-bottom: 0;
}

.blog-post-cover article figure{
    width: 100%;
    height:350px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}

.blog-post-cover article figure a{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0);
}

.blog-post-cover article figure a:hover{
    background: rgba(255,255,255,0.1);
}

.blog-date{
    min-width: 70px;
    min-height: 60px;
    background-color: #599032;
    position: absolute;
    top: 20px;
    left:20px;
    font-size: 30px;
    font-weight: 700;
    color: #f7f7f7;
    text-align: center;
    padding: 10px 5px; 
    box-shadow: 4px 4px 4px rgba(0,0,0,0.8);
    border-radius: 4px;
}

.blog-date span {
    font-size: 17px;
    font-weight: 300;
    color: #f7f7f7;
    display: block;
    text-transform: uppercase;
}

.blog-text{
    padding: 20px;
}

.blog-text h4{
    font-size: 38px;
    font-weight: 400;
    margin: 0px 0 20px;
    color: #242525;
    letter-spacing: 0.03em;
}

.blog-text h4 a{
    color: #242525;
}

.blog-text h4 a:hover, .blog-text h4 a:focus{
    color: #599032;
}

.blog-details{
    margin: 0 0 20px;
    padding: 0;
}

.blog-details li{
    display: inline-block;
    margin-right: 15px;
    padding-left: 22px;
    vertical-align: top;
    font-size: 22px;
    color: #599032;
    position: relative;
}

.blog-details li a{
     color: #599032;
}

.blog-details li a:hover, .blog-details li a:focus{
    color: #4c4c4c;
}

.blog-details li:before{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 8px;
    height: 8px;
    background:#599032;
    border-radius: 100%;
    
    
}

.blog-details li:first-child{
    padding-left: 0;
}

.blog-details li:first-child:before{
    display: none;
}

.blog-text p{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    margin-bottom: 20px;
}

.blog-text p:last-of-type{
    margin-bottom: 0;
}

.blog-text .main-btn a{
    float: none;
    display: inline-block;
}

.blog-sidebar{
    display: block;
}

.blog-sidebar .recent-post{
    display: block;
    position: relative;
}

.recent-post h2{
    font-size: 36px;
    color: #000;
    font-weight: 700;
    position: relative;
    margin: 0 0 40px;
    text-transform: uppercase;
    top: -6px;
}

.recent-post h2 span{
    color: #5aa21f;
}

.recent-post h2:after{
    content: "";
    display: block;
    width: 100%;
    margin: 15px 0 20px;
    height: 1px;
    background: #eaeaea;
}

.recent-post h2:before{
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: #5aa21f;
    
    position: absolute;
    left: 0;
    bottom: -1px;
}

.recent-post ul{
    margin: 0;
    padding: 0;
}

.recent-post ul li{
    display: inline-block;
    position: relative;
    min-height:70px;
    padding-left: 80px;
    margin-bottom: 35px;
}

.recent-post ul li figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recent-post ul li h4{
    font-size: 18px;
    color: #000;
    font-weight: 300;
    position: relative;
    margin: 0 0 5px;
    top: -6px;
    line-height: 1.3;
}

.recent-post ul li h4 a{
    color: #000;
}

.recent-post ul li .recent-post-details a{
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.recent-post ul li .recent-post-details a .fa{
    color: #5aa21f;
    margin-right: 5px;
}

.recent-post ul li .recent-post-details a:hover, .recent-post ul li .recent-post-details a:focus, .recent-post ul li h4 a:hover, .recent-post ul li h4 a:focus{
    color: #5aa21f;
}


.thankyou-cover {
    position: relative;
}

.thankyou-cover .tick {
    display: block;
    margin: 0 auto 70px;
    width: 160px;
    height: 160px;
    color: #16bb16;
    text-align: center;
    font-size: 65px;
    line-height: 160px;
    border: solid 2px #16bb16;
    border-radius: 100%;
}

.thankyou-cover .thnkyou-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}

.thankyou-cover .thnkyou-message p {
    margin: 0;
    font-size: 18px;
}




@media (min-width:1599px) {
    .container {
        width: 1470px;
    }
}

@media screen and (max-width:1598px) {
    
    header .navbar-right .dropdown-menu{
        left: -10px;
    }
    
    header .ryt-div ul li span{
        top: 7px;
    }
    
    header .ryt-div ul li span .fa{
            font-size: 18px;
    }
    
    header .ryt-div ul li:first-child span .fa {
    font-size: 15px;
}
    
    header .ryt-div ul li:first-child span {
    top: 5px;
}
    
    .banner {
        height: 460px;
    }
    header .navbar-default .navbar-nav > li > a,
    header .ryt-div ul li a {
        font-size: 20px;
    }
    .galery-sec figure {
        height: 100%;
    }
    .theme-text p {
        font-size: 20px;
    }
    .main-btn a {
        margin-top: 15px;
    }
    .designing-sec .lftdiv p a {
        font-size: 20px;
    }
    .service-sec {
        min-height: 403px;
        padding: 44px 15px 20px;
    }
    .designing-sec .social-icons {
        left: 10px;
    }
    .designing-sec .lftdiv p {
        font-size: 20px;
    }
    .designing-sec .lftdiv h1 {
        font-size: 33px;
        line-height: 42px;
        margin-bottom: 11px;
        margin-top: 0px;
         position: relative;
    top: -10px;
    }
    .service-sec h4 {
        font-size: 18px;
    }
    .service-sec p {
        font-size: 17px;
    }
    .border-dv p {
        font-size: 29px;
    }
    .three-d-design h3 {
        font-size: 30px;
        margin-bottom: 12px;
    }
    .three-d-design p {
        font-size: 25px;
        line-height: 37px;
    }
    .slidr .outer .text-div .fa {
        margin-right: 8px;
    }
    .outer .text-div h4 {
        font-size: 20px;
    }
    .outer .text-div p {
        font-size: 19px;
    }
    footer h3 {
        font-size: 22px;
    }
    .gtintouch ul li span {
        top: 0;
    }
    .small-ftr p {
        font-size: 16px;
    }
    .social-icons-btm {
        margin-top: 22px;
    }
    .btm-links ul li::before {
        top: 5px;
    }
    .btm-links ul li {
        padding-left: 6px;
    }
    .btm-img {
        float: left;
        margin-top: 31px;
    }
    
    .btm-text1 p {
        font-size: 30px;
    margin-top: 28px;
    padding-left: 0;
    }
    .gtintouch ul li {
        font-size: 18px;
        line-height: 23px;
        padding-left: 30px; 
    }
    .logo-text p {
        font-size: 18px;
        line-height: 30px;
    }
    .btm-links ul li a {
        font-size: 18px;
    }
    .btm-links {
        padding: 0 0;
        width: 243px;
    }
    .theme-sec {
        margin-right: 24px;
    }
    header .navbar-default .navbar-nav > li {
        padding: 0 10px;
    }
    
    .col-md-8.btm-text1 {
    padding-left: 0;
}
    
    
    .slidr .owl-next{
            right: -40px;
    }
    
    .slidr .owl-prev {
        left: -40px;
    }
    
    .slidr .owl-next > img, .slidr .owl-prev > img{
        max-width: 80%;
    }
    
    .col-md-12.latestBlog {
    padding: 0 15px;
}
    
    .main-heading h1, .design-page h3, .recent-post h2, .design-page h3 big{
        font-size: 32px;
    }
    
    .blog-text h4{
        font-size: 28px;
    }
    
    .design-page h3{
        margin-bottom: 25px;
    }
    
    .contact-information p, .contact-information ul li, .design-page p, .testimonials-cover .item .item-inner p, .blog-text p, .design-page ul.custom-list li {
        font-size: 24px;
    }
    
    .recent-post ul li h4{
        font-size: 16px;
    }
    
    .contact-information ul li i{
        top: 5px;
    }
    
    .contact-map{
        height: 395px;
    }
    
    .contact-form .form-group .form-control, .blog-details li{
        font-size: 18px;
    }
    
    .design-page p{
        font-size: 24px;
    }
    
    .recent-post ul li .recent-post-details a{
        font-size: 14px;
    }
    
    
}
